<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Book Details</title>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon" type="image/ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        body {
            font-family: 'Roboto', sans-serif;

        }


    </style>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body>
<div class="container">
    <div class="banner">
        <h1 th:text="#{book.details}"></h1></div>
    <div class="account card">
        <div class="card-body">
            <div class="account-details">
                <p th:text="${user.role}" class="role-text"></p>
                <p th:text="${user.username}" class="username-text"></p>
            </div>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-danger logout">Logout</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </form>
        </div>
    </div>




    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <div style="margin-bottom: 6rem;">
                        <h4 class="card-title font-weight-bold" th:text="${book.title}"></h4>
                        <ul class="list-unstyled mb-4">
                            <li th:each="author : ${book.authors}" th:text="${author.name}"></li>
                        </ul>
                        <p class="card-text">
                            <strong th:text="#{book.isbn}"></strong>: <span th:text="${book.isbn}"></span><br>
                            <strong th:text="#{book.price}"></strong>: <span
                                th:text="${#numbers.formatDecimal(book.price, 1, 2)}"></span>
                            €<br>
                            <strong th:text="#{book.stars}"></strong>: <span th:text="${book.stars}"></span><br>
                            <strong th:text="#{book.locations}"></strong>:
                        </p>
                        <ul class="list-group mb-5">
                            <li class="list-group-item" th:each="location : ${book.locations}">
                                <span class="font-weight-bold" th:text="${location.plaatsnaam}"></span>
                                <span class="ml-3" th:text="${location.plaatscode1}"></span>
                                <span class="ml-3" th:text="${location.plaatscode2}"></span>
                            </li>
                        </ul>
                    </div>

                    <form method="post" th:action="@{/toggleFavorite}"
                          style="position: absolute; bottom: 10px;">
                        <p th:if="${userFavoriteLimiteReached}" th:text="#{user.favorite_limit_reached}"></p>
                        <a class="btn btn-primary mt-3" style="" th:href="@{/}"
                           th:text="#{book.back_to_catalog}"></a>
                        <input th:name="bookIsbn" th:value="${book.isbn}" type="hidden">
                        <button type="submit" class="btn btn-success mt-3"
                                th:if="${!isFavorite && !userFavoriteLimiteReached}"
                                th:text="#{book.add_to_favorites}"></button>
                        <button type="submit" class="btn btn-danger mt-3" th:if="${isFavorite}"
                                th:text="#{book.remove_from_favorites}"></button>
                        <a class="btn btn-success mt-3" th:if="${user.role == 'ADMIN'}"
                           th:href="@{'/addBook/' + ${book.isbn}}"><i
                                class='far fa-edit'></i></a>

                    </form>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start justify-content-center"
                 style="margin: 0.5rem !important; max-width: 30% !important; ">
                <div class="book-cover position-relative">
                    <div class="spinner-border text-primary position-absolute"
                         id="spinner" style="top: 50%; left: 50%;"></div>
                    <img alt="Book cover"
                         class="img-fluid border rounded"
                         id="bookCoverImage"
                         th:src="@{'https://covers.openlibrary.org/b/isbn/' + ${book.isbn} + '-L.jpg'}"/>
                </div>
            </div>

        </div>


    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        function handleImageLoad() {
            $('#spinner').hide();
        }

        $('#bookCoverImage').on('load', handleImageLoad);

        if ($('#bookCoverImage')[0].complete) {
            handleImageLoad();
        }
    });

</script>
</body>
</html>
