<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Add Book</title>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/bookForm.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon" type="image/ico">
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        body {
            font-family: 'Roboto', sans-serif;
        }

        .error {
            color: red;
        }
    </style>

</head>
<body>
<div class="container">
    <h1>Add Book</h1>
    <div class="card">
        <div class="card-body">
            <form method="post" th:action="@{/addBook}" th:object="${book}">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input class="form-control" id="title" required th:field="*{title}" type="text">
                    <p class="error" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
                </div>

                <div class="form-group">
                    <label for="isbn">ISBN number:</label>
                    <input class="form-control" id="isbn" pattern="\d{3}-\d{1,5}-\d{1,7}-\d{1,6}-\d{1}" required
                           th:field="*{isbn}" type="text">
                    <p class="error" th:errors="*{isbn}" th:if="${#fields.hasErrors('isbn')}"></p>
                </div>
                <div class="form-group">
                    <label for="price">Purchase price:</label>
                    <input class="form-control" id="price" max="100" min="0.01" step="0.01" th:field="*{price}"
                           type="number">
                    <p class="error" th:errors="*{price}" th:if="${#fields.hasErrors('price')}"></p>
                </div>

                <div class="form-group">
                    <label for="authors">Authors:</label>
                    <div class="input-group mb-3">
                        <input class="form-control" id="author-search" placeholder="Search author by name" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Search</button>
                        </div>
                    </div>

                    <select class="form-control" id="authors" multiple name="authorNames" required
                            style="height: 15rem;">
                        <option th:each="author : ${globalAuthors}" th:text="${author.name}"
                                th:value="${author.name}"></option>
                    </select>


                    <span class="error" th:errors="*{authors}" th:if="${#fields.hasErrors('authors')}"></span>


                    <div class="mt-4" style="display: flex; justify-content: space-between;">
                        <label for="new-author"></label><input class="form-control" id="new-author" placeholder="Add new author to the list"
                                                               type="text">
                        <button class="btn btn-primary" id="add-author-btn" type="button">Add</button>
                    </div>

                </div>

                <!-- Add Location -->
                <div class="form-group">
                    <label for="location-inputs">Locations:</label>
                    <div class="d-flex">
                        <div id="location-inputs">
                            <div class="location-input-row d-flex">
                                <input class="form-control mr-2" id="plaatscode1" placeholder="Plaatscode1"
                                       type="number">
                                <input class="form-control mr-2" id="plaatscode2" placeholder="Plaatscode2"
                                       type="number">
                                <input class="form-control mr-2" id="plaatsnaam" placeholder="Plaatsnaam" type="text">
                            </div>
                        </div>
                        <div class="mt-2" id="location-list"></div>
                    </div>
                    <p class="error" id="plaatscode-error"></p>
                    <p class="error" id="plaatsnaam-error"></p>
                    <button class="btn btn-primary mt-2" id="add-location-btn" type="button">Add Location</button>
                    <input id="location-data" name="locationData" type="hidden">
                    <span class="error" th:errors="*{locations}" th:if="${#fields.hasErrors('locations')}"></span>
                </div>


                <div style="display: flex; justify-content: space-between;">
                    <!--            <button type="button" id="add-location" class="btn btn-secondary mb-2">Add Location</button>-->
                    <div>
                        <a class="btn btn-danger mb-2" href="/">Cancel</a>
                        <button class="btn btn-primary mb-2" type="submit">Add Book</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

    // Add location to the list
    // Add location to the list
    $('#add-location-btn').click(function () {
        var plaatscode1 = parseInt($('#plaatscode1').val());
        var plaatscode2 = parseInt($('#plaatscode2').val());
        var plaatsnaam = $('#plaatsnaam').val();
        var isValid = true;

        // Validate plaatscode1 and plaatscode2
        if (!Number.isInteger(plaatscode1) || plaatscode1 < 50 || plaatscode1 > 300 || !Number.isInteger(plaatscode2) || plaatscode2 < 50 || plaatscode2 > 300 || Math.abs(plaatscode2 - plaatscode1) < 50) {
            isValid = false;
            $('#plaatscode-error').text('Plaatscode1 and Plaatscode2 must be integers between 50 and 300 (inclusive). The difference between Plaatscode1 and Plaatscode2 must be at least 50.');
        } else {
            $('#plaatscode-error').text('');
        }

        // Validate plaatsnaam
        if (!/^[a-zA-Z]+$/.test(plaatsnaam)) {
            isValid = false;
            $('#plaatsnaam-error').text('Plaatsnaam must only contain letters.');
        } else {
            $('#plaatsnaam-error').text('');
        }

        // If validation passes, add the location
        if (isValid) {
            var locationDisplay = $('<div>', {class: 'location-display'}).text(plaatscode1 + '-' + plaatscode2 + ', ' + plaatsnaam);
            var locationRemoveBtn = $('<button>', {class: 'btn btn-sm btn-danger ml-2', type: 'button'}).text('Remove');
            locationDisplay.append(locationRemoveBtn);
            $('#location-list').append(locationDisplay);

            // Clear input fields
            $('#plaatscode1').val('');
            $('#plaatscode2').val('');
            $('#plaatsnaam').val('');
        }
    });


    // Remove location from the list
    $(document).on('click', '.location-display button', function () {
        $(this).parent().remove();
    });

    // Before form submission, update the location-data input field
    $('form').on('submit', function () {
        var locationData = '';
        $('.location-display').each(function () {
            locationData += ($(this).text().replace('Remove', '')).trim() + ';';
        });
        $('#location-data').val(locationData);
    });
</script>
<script>
    <!--    authors     -->
    $(document).ready(function () {
        $('#author-search').on('input', function () {
            var searchValue = $(this).val().toLowerCase();
            $('#authors option').each(function () {
                if ($(this).text().toLowerCase().indexOf(searchValue) === -1) {
                    $(this).attr('hidden', 'hidden');
                } else {
                    $(this).removeAttr('hidden');
                }
            });
        });

        $('#authors').on('mousedown', function (e) {
            e.preventDefault();
            var option = e.target;
            if (option.tagName === 'OPTION') {
                option.selected = !option.selected;
                return false;
            }
        });


    });

    $(document).add(function () {
        $('#add-author-btn').click(function () {
            var newAuthorName = $('#new-author').val();
            if (newAuthorName) {
                var newOption = $('<option>', {
                    value: newAuthorName,
                    text: newAuthorName,
                    selected: true
                });
                $('#authors').append(newOption);
                $('#new-author').val('');
            }
        });
    });


</script>


</body>
</html>
